.app {
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: teal;
}

h1 {
  opacity: 0.8;
  font-style: italic;
}

input {
  background-color: wheat;
  outline: none;
  border: 1px solid seagreen;
  padding: 3px;
  margin-right: 5px;
  border-radius: 2px;
}

button {
  background-color: darksalmon;
  outline: none;
  border: 1px solid seagreen;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
}

select {
  background-color: wheat;
  color: teal;
  border: 1px solid seagreen;
  border-radius: 2px;
  margin-top: 15px;
}

ul {
  list-style: circle;
  padding: 0;
  text-align: center;
}

ul > li {
  color: seagreen;
  border-bottom: 1px solid teal;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
